<!--The content below is only a placeholder and can be replaced.-->
<h2>Here is an example of working @ngx-prism/core </h2>
<div>
  <h2>
    CSS with optional language
  </h2>
  <p>
    <input type="radio" name="language" value="css" (change)="setLanguage($event)" [attr.checked] = "language === 'css' ? 'checked' : null" /> CSS
    <input type="radio" name="language" value="javascript" (change)="setLanguage($event)" [attr.checked] = "language === 'javascript' ? 'checked' : null" /> JAVASCRIPT
  </p>
  <textarea rows="20" cols="50" name="prism" (keyup)="update($event)" [innerHTML]="prism"></textarea>
  <prism-highlight [language]="language">{{prism}}</prism-highlight>
  <prism-highlight [language]="language" [code]="prism"></prism-highlight>
</div>
<div>
  <h2>
    html ng-content
  </h2>
  <textarea rows="20" cols="50" name="prismhtml" (keyup)="update($event)" [innerHTML]="prismhtml"></textarea>
  <prism-highlight [language]="'html'" [callback] = "callback">{{prismhtml}}</prism-highlight>
  <prism-highlight [language]="'html'" [code]="prismhtml"></prism-highlight>
</div>
