label {
  cursor: pointer;
}
img {
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
div#logo {
  position: relative;
  display: flex;
  width: calc(100% - 100px);

  margin-bottom: 16px;
}
div#logo div {
  position: absolute;
  right: 100px;
  left: 200px;
  bottom: 0px;
  height: 200px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a4a4a+0,ffffff+100 */
  background: #4a4a4a; /* Old browsers */
  background: -moz-linear-gradient(left, #4a4a4a 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #4a4a4a 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #4a4a4a 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

mat-form-field {
  width: 100%;
  height: 50px;
}
.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}