/* You can add global styles to this file, and also import other style files */
@import '~prismjs/themes/prism.css'; /* added */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // added
@import "~@ngx-docs/example/dist/docs-example.scss"; // added

html, body, material-app, mat-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
mat-sidenav {
  width: 500px;
  padding: 16px;
  background-color: #fafafa !important;
}
.my-content {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  padding: 50px;
}
.mat-drawer-container {
  background-color: #ffffff !important;
  color: rgba(0,0,0,.87);
}
